<li>
	<%= s.label :name,"Song Name" %>
	<%= s.text_field :name %>
</li>
<li>
	<%= s.label :link,"Link" %>
	<%= s.text_area :link %>
</li>
<li>
	<%= s.label :user,"User Name" %>	
	<%= s.text_field :user %>	
</li>	
