<tr>
	<td><%= s.label :name,"Song" %></td>
	<td><%= s.text_field :name ,:class=>"form-control"%></td>
</tr>
<tr>
	<td><%= s.label :link,"Link" %></td>
	<td><%= s.text_area :link,:class=>"form-control" %></td>
</tr>
<tr>
	<td><%= s.label :user,"User Name" %></td>
	<td><%= s.text_field :user,:class=>"form-control" %></td>
</tr>