<table class="table table-hover table-bordered">
<tr>
	<td width="15%"><%= s.text_field :name ,:class=>"form-control",:placeholder=>"Song"%></td>
	<td><%= s.text_field :link,:class=>"form-control" ,:placeholder=>"Link"%></td>
	<td width="20%"><%= s.text_field :user,:class=>"form-control" ,:placeholder=>"User"%></td>
	<td width="5%">
		<%= link_to "", songs_path, :class=>"btn btn-default glyphicon glyphicon-remove" %>
	</td>
	<td width="5%">
		<%= s.submit "＋",:class=>"btn btn-success" %>
	</td>
</tr>
</table>
