<%= Time.now.asctime %>
<%= params[:page] %>
<table class="table table-hover table-bordered">
	<tr>
		<th>Song</th>
		<th>YouTube Link</th>
		<th>User</th>
		<th>Info</th>
		<th>Edit</th>
		<th>Delete</th>
	</tr>
	<% @songs.each do |s| %>
	<tr>
		<td><%= s.name %></td>
		<td><%= s.link %></td>
		<td><%= s.user %></td>
		<td><%= link_to "",song_path(s),:class=>"btn btn-info glyphicon glyphicon-search"%></td>
		<td><%= link_to "",edit_song_path(s),:class=>"btn btn-default glyphicon glyphicon-pencil"%></td>
		<td><%= link_to "",song_path(s),:method=>:delete,:class=>"btn btn-danger glyphicon glyphicon-trash"%></td>
	</tr>
	<% end %>
	<%= form_for @song, :url => songs_path do |s|%>			
		<%= render :partial => "newform",:locals => { :s =>s } %>
	<% end %>
</table>
<%= paginate @songs %>



