<ul>
	<% @songs.each do |s| %>
	<li>
		<%= s.name %>
		<%= s.link %>
		<%= s.user %>
		<%= link_to "Show",song_path(s)%>
		<%= link_to "Edit",edit_song_path(s)%>
		<%= link_to "Destroy",song_path(s),:method=>:delete%>
	</li>
	<% end %>
</ul>
<%= Time.now %>
<%= link_to "Add",new_song_path %>